*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #000000;
 color: aliceblue;}
#navbar{
    display: flex;
    background-color: rgb(16, 16, 16);
    color: #ff3e8b;
    font-size: 20px;
 
}
#navbar ul {
display: flex;
margin-left: 540px;
}


#navbar ul li {
list-style: none;
align-items: center;
justify-content: center;
margin-top: 15px;
}
#navbar ul li a {
text-decoration: none;
margin: 40px;
color: rgb(255, 62, 139);


}
.logo{
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Tourney', cursive;
    color: aliceblue;
}
#HOME{
    height: 600px;
 display: flex;
}
#HOME img {
height: 400px;
  margin-left: 300px;
margin-top: 80px;
border-radius: 10%;

}
#HOME h4 {
font-size: 50px;
margin-top: 160px;
margin-left: 160px;
}
#HOME h3 {
font-size: 22px;
margin-left: 50px;
}
#HOME h2 {
font-size: 17px;
margin-left: 50px;
}
span {
color: #ff3e8b;
}
.social a img {
    height: 20px;
}
.name{
    margin-left: 90px;
    font-size: 50px;
}
#SKILLS ul {

display: flex;
list-style: none;
}
#SKILLS{
text-align: center;

}
.skills{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(255, 62, 139) ;
    box-shadow: 3px 3px 7px rgb(255, 62, 139);
   border-radius: 10%;
margin-left: 40px;
margin-top: 20px;

}
.skills img{
    margin-top: 40px;
border-radius: 50%;
border: 5px solid black;
box-shadow: 3px 3px 5px rgb(33, 33, 33);
}

#CONTACT{margin-top: 70px;
    text-align: center;
    height: 300px;
    border: 2px solid  #ff3e8b;
    width: 550px;
   margin-left: 530px;
   border-radius: 20px;
   box-shadow: 3px 3px 4px #ff3e8b ;
 
}
.container h2{
    margin-top: 30px;
    font-family: 'Tourney', cursive;
}
.class{
    margin-top: 30px;
}
.info a{
    color: aliceblue;
text-decoration: none;
}
.btn{
    width: 140px;
    height: 30px;
    background-color: #ff3e8b;
    color: aliceblue;
}
footer{
    margin-top: 30px;
    text-align: center;
    background-color: #ff3e8b;
}