*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(0, 0, 0, 0.907);
 color: aliceblue;}
#navbar{
    display: flex;
    background-color: rgb(41, 39, 39);
    color: rgb(255, 62, 139);
    font-size: 20px;
 
}
#navbar ul {
display: flex;
margin-left: 540px;


}


#navbar ul li {
list-style: none;
align-items: center;
justify-content: center;
margin-top: 30px;
}
#navbar ul li a {
text-decoration: none;
margin: 40px;
margin-top: 20px;
color: rgb(255, 62, 139);
margin-top: 15px;

}
.logo{
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Tourney', cursive;
    color: aliceblue;
}
#HOME{
    height: 400px;
    border: 2px solid palegreen;
    display: flex;
}
#HOME img {
height: 380px;
  margin-left: 400px;
}
#HOME h4 {
font-size: 50px;
margin-top: 60px;
margin-left: 160px;
}
#HOME h3 {
font-size: 20px;
margin-left: 50px;
}
.name{
    margin-left: 90px;
    font-size: 50px;
}
#SKILLS ul {

display: flex;
list-style: none;
}
#SKILLS{
text-align: center;

}
.skills{
    height: 300px;
    width: 300px;
    border: 2px solid paleturquoise;
    justify-content: space-between;
border-radius: 10%;
margin-left: 50px;
margin-top: 20px;
}
.skills img{
border-radius: 50%;
}